@{
    ViewBag.Title = "Etusivu";
}




<div class="jumbotron">
    <h1>TILAUSDB</h1>
    <br />
    <div class="row">
        <div class="col-md-4">

            <h2><i class="fa fa-linkedin-square fa-2x"></i> Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud.
            </p>
            <p><a class="btn btn-default" href="#">Lorem Ipsum &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-facebook-official fa-2x"></i> Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud..
            </p>
            <p><a class="btn btn-default" href="#">Lorem Ipsum &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-instagram fa-2x"></i> Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud.
            </p>
            <p><a class="btn btn-default" href="#">Lorem Ipsum &raquo;</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img src="https://cdn.pixabay.com/photo/2018/01/12/16/16/growth-3078543_1280.png" width="387" height="258" alt="TilausDB" title="Kuva Mediamodifier Pixabaystä">
            </div>
        </div>
    </div>
</div>
    
