
@{
    ViewBag.Title = "Tilastoja";
}

<h2>Tilastoja</h2>
<p>
<a href="/Statistics/TopMyynnit">Eniten rahallisesti myyneet tuotteet</a>
|
<a href="/Statistics/MyynnitPaiva">Tilauksia viikonpäivittäin</a>
</p>
<p>
    <img src="https://cdn.pixabay.com/photo/2018/01/12/16/17/graph-3078546_1280.png" width="470" height="235" alt="Tilastoja" title="Kuva Mediamodifier Pixabaystä">
</p>